
/*
Colors:
#E8F1F2
pink
#7A9E7E
#31493C
#001A23
*/

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Red+Hat+Display&display=swap');

/*--------fonts-----------*/


h1,
h2,
h3,
h4,
h5,
h6,
.col h3{
    font-family: 'DM Serif Display', serif;
    line-height: 1.5;
}

p,
nav,
figcaption {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 0.75rem;
    line-height: 1.5;
}


body{
    background-color: #E8F1F2;
}


a{
    color: #000;
    font-size: 2rem,
}

a:hover {
    text-decoration: none;
    color: #fff;
}

ul li {
    list-style: none;
}

.container {
    text-align: center;
}

/*-----logo-------*/

#logo .img img {
    max-height: 100px;
    height: 100px;
    width: auto;
}

img {
    height: auto;
    width: 100%;
}

.fig-cap {
    text-align: center;
}

/*-----navigation-----*/

nav {
    width: 100%;
    margin: 2rem 0;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    width: 100%;
    background: pink;
    color: #001A23;
    margin: 1rem 0;
    float: left;
    text-align: center;
    list-style: none;
    padding: 1rem 2rem;
    border-radius: 25px;
}

nav ul li:hover {
    background-color: #001A23;
    color: white;
}

nav ul li a{
    color: #001A23;
    font-size: 1rem;
}
.desktop-visible {
    display: none;
}


/*------------main container------------*/

.tablet-desktop-visible {
    display: none;
}

.main {
    clear: both;
    padding: 2rem 0;
    text-align: left;
}

.row {
    text-align: left;
}

.col {
    padding: 1rem 1rem;
}

.row h3 {
    text-align: center;
}

.row .fig {
    padding: 2rem 3rem;
    text-align: center;
}

p {
    padding: 0 3rem;
}

.figure {
    width: 100%;
    padding: 0 3rem;
}

/*----all the list ------*/

footer,
footer .row p,
footer ul {
    clear: both;
    text-align: center;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline-block;
    list-style: none;
    padding: 1rem 0.5rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    color: #001A23;
}



/*------------- media queries ---------------*/

@media only screen and (min-width: 35rem) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6{
        font-family: 'DM Serif Display', serif;
        line-height: 1.5;
        background-color: #E8F1F2
    }

    p,
    .fig,
    nav,
    figcaption {
        font-family: 'Red Hat Display', sans-serif;
        font-size: 1rem;
        line-height: 1.5;
        text-align: left;
    }

    
    img{
        width: 100%;
    }
    
    .container {
        text-align: center;
    }

   
    .mobile-visible {
        display: none;
    }

    .tablet-desktop-visible {
        display: block;
    }

    .masthead {
        clear: both;
        background-image: url(../img/money.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
        width: 100%;
        text-align: center;
    }

    .masthead .container {
        text-align: center;
        margin: 100px 0;
        display: inline-block;
    }

    .desktop-visible {
        display: none;
    }

    nav {
        text-align: center;
        display: block;
    }

    nav ul {
        margin: 0;
        padding: 0;
        width: 100%;
        display: block;
        text-align: center;
    }

    nav ul li {
        width: 49%;
        margin: 2rem 0;
        margin-right: 5px;
        display: inline-block;
        background: pink;
        list-style: none;
        padding: 1rem 2rem;
    }

    
    .row h3 {
        text-align: left;
    }

    .figure {
        width: 40%;
        float: left;
        padding: 0;
    }
    
    .fig-cap {
        text-align: center;
    }

    p {
        padding: 0 3rem;
    }

    p {
        width: 60%;
        float: left;
    }

    footer {
        clear: both;
    }

    footer,
    footer .row p,
    footer ul {
        clear: both;
        text-align: left;
        margin: 0;
        padding: 0;
    }

    footer ul li {
        display: inline-block;
        list-style: none;
        padding-right: 1rem 0.5rem;
        margin-right: 1rem;
        font-size: 1.5rem;
    }

}


@media only screen and (min-width: 80rem) {
    
    nav{
        width: 100%;
    }
   
     .masthead h1{
        font-size: 3rem;
        background-color: pink;
         border-radius: 25px;
    }
    .desktop-visible {
        display: inline-block;
        float: left;
    }

    .logo-img img {
        max-height: 100px;
        height: 100px;
        width: auto;
    }

    nav {
        float: right;
        text-align: right;
        display: block;
        
    }

    nav ul {
        margin: 0;
        padding: 0;
        width: 90%;
        text-align: right;
        display: inline-block;
    }

    nav ul li {
        margin: 2rem 0;
        margin-right: 5px;
        display: inline-block;
        list-style: none;
        padding: 1rem 2rem;
    }

    #logo {
        float: left;
        width: 10%;
        display: inline-block;

    }

    .figure {
        width: 40%;
        float: left;
        margin: 0;
    }

    .fig-cap {
        text-align: center;
    }

    p {
        padding: 0 3rem;
    }

    p {
        width: 60%;
        float: left;
    }

    footer {
        clear: both;
        
    }
}
