<div class="row">
    <div class="col col-12">
        <h3 class="h3">The Value of Money</h3>
    </div>
    <figure class="figure">
        <img src="./img/dollar.png" alt="The Value of Money" />
        <figcaption> The Value of Money</figcaption>
    </figure>

    <p>
       Money has it's value with time. As time goes by, money's value keeps decreasing. What $10 were worth 10 years ago, it does n ot hold the same value anymore. This is a financial concept that money in present is at much more value than the same amount of money will hold in the future. It can proved by the fact that money which is invested now can earn a greater amount in the future. This value of money is also related to the concepts of inflation and purchasing power of people. Inflation constantly decreases the value of money. People must consider these two factors when thinking aboit investments and calculating their returns. Forms of money are also changing with changing times. New forms of currency, like cryptocurrency, are seen today. Bitcoin and cryptocurrency market is booming right now.
    </p>
</div>

<br>
<hr>
<br>

<div class="row">
    <div class="col col-12">
        <h3 class="h3">GMO food</h3>
    </div>
    <figure class="figure">
        <img src="./img/gmo-food.png" alt="GMO food" />
        <figcaption>GMO food</figcaption>
    </figure>
    <p>
        Humans have been modifying food and food ingredieents for thousands of years now. Methods like selective breeding and cross-breeding have been used to create desirable traits in plants and animals. GMO, Genetically Modified Organisms, is used to describe foods created through the process of genetic engineering. Genetic engineering involves: identifying the genetic information of an organism, retriving that information, inserting that information into the DNA of another organism and then growing that organisation. Scientists are constantly creating and developing new ways and methods to create new varieties of plants and animals using genome editing. There are several tools used for this process to make crops more nutritious, tolerant to climate change and resistant to pests. (FDA, 2020)
    </p>
</div>

<br>
<hr>
<br>

<div class="row">
    <div class="col col-12">
        <h3 class="h3">The View of World in 2100</h3>
    </div>
    <figure class="figure">
        <img src="./img/world-2100.png" alt="The View of World in 2100" />
        <figcaption>The View of World in 2100</figcaption>
    </figure>
    <p>
        By the year 2100, our space technology would have plummeted the skies. In the future, Mars would be a living colony of humans because of our growing population. Today, we have the technological capability to go to Mars, according to NASA. Rocket travel seems like a possibility, there have been announcements to create systems that would get you anywhere in the world. (Popular Mechanics, 2018) Our next century will bring a lot more automation in our lives too. Human lives would be dependent on machinery.What future holds for us is impossible for us to imagine now. There are large-scale manipulations  that are happening in our atmosphere and environments, we don't know where that will take our earth in the future.
    </p>
</div>

<br>
<hr>
<br>
