<div class="row">
    <div class="col">
        <h3 class="h3">Portfolio</h3>
    </div>
</div>

<div class="row">
    <div class="col col-lg-4 col-md-6 col-12 fig">
        <figure>
            <img src="./img/1.jpg" alt="card-1" />
            <figcaption class="fig-cap">Portfolio Item 1</figcaption>
        </figure>
    </div>
    <div class="col col-lg-4 col-md-6 col-12 fig">
        <figure>
            <img src="./img/2.jpg" alt="card-2" />
            <figcaption class="fig-cap">Portfolio Item 2</figcaption>
        </figure>
    </div>
    <div class="col col-lg-4 col-md-6 col-12 fig">
        <figure>
            <img src="./img/3.jpg" alt="card-3" />
            <figcaption class="fig-cap">Portfolio Item 3</figcaption>
        </figure>
    </div>
    <div class="col col-lg-4 col-md-6 col-12 fig">
        <figure>
            <img src="./img/4.jpg" alt="card-4" />
            <figcaption class="fig-cap">Portfolio Item 4</figcaption>
        </figure>
    </div>
    <div class="col col-lg-4 col-md-6 col-12 fig">
        <figure>
            <img src="./img/5.jpg" alt="card-5" />
            <figcaption class="fig-cap">Portfolio Item 5</figcaption>
        </figure>
    </div>
    <div class="col col-lg-4 col-md-6 col-12 fig">
        <figure>
            <img src="./img/6.jpg" alt="card-6" />
            <figcaption class="fig-cap">Portfolio Item 6</figcaption>
        </figure>
    </div>
</div>
